<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Custom CSS Link -->
    <link rel="stylesheet" href="/static/e.css">
    <title>Backslash Event</title>
</head>
<body>
    <div class="wrapper">
        <div class="inner">
            <form action="/register/" id="my_form" method="post" style ="padding: 50px;width: 100%;" >
                {%csrf_token%}
               <div id="register">
                   <h1 class="neon" data-text="U">RE<span class="flicker-slow">G</span>IS<span class="flicker-fast">T</span>ER</h1>
                </div>
                   <div class="form-wrapper form-select">
                       <label style ="font-family:;" for="">People</label>
                    <div class="form-holder">
                        <select class="form-control" style ="color:pink;" name="t_no" id="">
                            <option value="1" class="option">1</option>
                            <option value="2" class="option">2</option>
                            <option value="3" class="option">3</option>
                            <option value="4" class="option">4</option>
                        </select>
                        <i class="fa-solid fa-chevron-up"></i>
                    </div>
                </div>
                <div class="form-wrapper" style = "margin-top:30px;margin-bottom: 30px;">
                    <label for="" class="label-input"style ="">Team_Name</label>
                    <input type="text" required name ="t_name" class="form-control">
                </div>
                {%if msg%}
                    <label for="" class="label-input"style ="">{{msg}}</label>
                {% endif %}
                <button id ="but" style = "margin-top:70px;border-radius: 12px;",type = "submit">
                    Register
                </button>
            </form>
            <!-- <div class="image-holder"> -->
                <!-- <img src="/static/images/registration-form-5.jpg" alt="" srcset=""> -->
            <!-- </div> -->
        </div>
    </div>
    <!-- <script src="eventreg.js"></script> -->
    <script src="https://kit.fontawesome.com/4b5d41d438.js" crossorigin="anonymous"></script>

</body>
</html>